@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Get in Touch</h1>
    <p class="lead">Have questions or feedback? We’d love to hear from you!</p>
    <p>You can reach us through the contact information below:</p>
    <ul class="list-unstyled">
        <li><strong>Email:</strong> support@cinemawebapp.com</li>
        <li><strong>Phone:</strong> +90 552 661 41 84 </li>
        <li><strong>Address:</strong> Mehmet Akif Ersoy Mahh.Address sk no 4, Esenyurt/istanbul</li>
    </ul>
</div>
